<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<title>Burgers!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burger_style.js"></script>
	{{!-- <script src="../../public/assets/js/script.js"></script> --}}
</head>

<body>
	{{{ body }}}
</body>

<footer class="burgerFooter">
	<div class="footerCopy">
		<div class="container">
			<span class="text"> Repo found at <a href="https://github.com/jdempsey1993/burger">my Github</a></span>
		</div>
	</div>
</footer>

</html>