<h1>Eat The Burgers!</h1>

<h2>Enter a burger you want to eat and hit the submit button.</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">B Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="type" value="1" checked> Placeholder<br>
    <input type="radio" name="type" value="0"> Placeholder
  </div>

  <button type="submit">Add Burger</button>
</form>
